@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Shades */
  --gray1: #eeeeeeb2;
  --gray2: #757575;
  --gray-gradient: linear-gradient(
    rgba(125, 134, 146, 0.123),
    rgba(128, 128, 128, 0.103)
  );
  --shadow1: hsla(0, 0%, 50%, 0.212);
  /* Shades ======== */
  /* Font- */
  --font-family: "Tahoma", sans-serif;
  --fw300: 300;

  --primary: #0081cf;
  --transition: 400ms;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--gray1);
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.sidebar {
  display: flex;
  min-height: 90vh;
  align-items: center;
  max-width: fit-content;
}
.sideBarList {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  background: var(--gray-gradient);
  box-shadow: 2px 2px 2px var(--shadow1);
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
  border-radius: 6px;
  color: var(--gray2);
  max-width: 10em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 40vh;
}
.wrapper .linkWrapper{
  /* border-bottom: 2px solid #0080cf98; */
  padding-bottom:3px;

}
.sidebar h3,
item {
  font-family: var(--font-family);
  font-weight: 300;
  transition: var(--transition) ease-in-out;
  color: #757575;
  width:100%;

}

.sideBarList hr {
  width: 2rem;
  min-width: 100%;
  border: 1px solid var(--shadow1);
}
.sideBarList .linkWrapper {
  cursor: pointer;
}
.sideBarList .linkWrapper .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.sideBarList img {
  min-width: 2rem;
  height: auto;
  object-fit: contain;
  transition: var(--transition);
}
.sidebar img:where(.right, .left) {
  width: 1.6rem;
  margin-top: 0.3rem;
  opacity: 0.8;
}
.sidebar img:not(.right, .left):hover {
  background-color: #a1acbd;
  border-radius: 4px;
  opacity: 0.8;
  scale: 1.2;
  transform: rotate(2deg);
}

.rightSide {
  display:flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 5rem;
  /* margin-left: 1rem; */
  margin-right: auto;
}
.setting {
  padding:0;
  margin-top: auto;
  margin-bottom: 0.3rem;
  margin-right:auto;
  
}
