.home_layout{
    /* width: auto; */
    min-width: 10%;
    min-height: 100%;
    padding-inline: 1rem;
    padding-block: 1rem;
    margin-inline: 1rem;
}
.home_layout > div{
    background-color: rgb(192, 185, 176);
}